html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
  color: #222;
  padding: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
}

h1 + p {
  font-style: italic;
}

.quote {
  color: #999;
}
